body{
margin:0;
font-family:Arial;
overflow:hidden;
text-align:center;
}


header{
background:#333;
color:white;
padding:25px;
}

.kep-container img{
width:300px;
margin:20px;
border-radius:10px;
}
.main{
    transition: top 0.2s, left 0.2s;
}
